<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
        ">

    <!--连接工厂-->
    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="guest" password="guest"/>

    <!--指定消息队列-->
    <rabbit:queue id="queue.page.create"/>
    <rabbit:queue id="queue.page.delete"/>

    <!--配置消费者监听类-->
    <bean id="pageMsgListener" class="com.qingcheng.consumer.PageMsgListener"/>

    <!--配置监听容器：设置监听类监听哪些MQ-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener queue-names="queue.page.create" ref="pageMsgListener"/>
        <rabbit:listener queue-names="queue.page.delete" ref="pageMsgListener"/>
    </rabbit:listener-container>

</beans>