<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--elasticsearch配置-->
    <bean id="restClientFactory"
          class="com.qingcheng.factory.RestClientFactory"
          factory-method="getRestHighLevelClient"
    >
        <constructor-arg index="0" value="127.0.0.1"/>
        <constructor-arg index="1" value="9200"/>
        <constructor-arg index="2" value="http"/>
    </bean>

</beans>