<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                ">

    <!--资源放行
        对于网站中不需要登录也可以让用户访问的资源，都应该在此进行放行。
    -->
    <http pattern="/index.do" security="none"/>
    <http pattern="/search.do" security="none"/>

    <!--微信支付回调地址放行-->
    <http pattern="/wxPay/notify.do" security="none"/>

</beans:beans>